.checkoutProduct {
    display: flex;
    border-radius: 7px;
    padding: 15px;
    margin: 10px 0px;
}

.checkoutProductImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.checkoutProductTitle {
    font-size: clamp(12px, 4vw, 20px);
}

.checkoutProductPrice {
    display: flex;
}

.checkoutProductRating {
    display: flex;
}

.removeFromCart {
    margin: 15px 0px;
    display: flex;
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 7px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .checkoutProduct {
        flex-direction: column !important;
    }
}