.loginPage .logo {
    display: flex;
    margin-top: 80px;
    margin-bottom: 20px;
}

.loginPage .logo img {
    max-width: 150px;
    margin: 0px auto;
}

.loginPage .container {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 315px;
    border: 1px solid #111111;
    padding: 15px;
    border-radius: 5px;
}

.loginPage .signInHeading {
    font-size: clamp(32px, 5vw, 38px);
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 10px;
}

.loginPage .loginForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 280px;
}

.loginPage .loginForm input {
    padding: 7px 10px;
    margin: 6px 0px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #111;
}

.loginPage .loginForm #submit {
    padding: 8px !important;
    font-size: 15px;
    background-color: #F0C14B;
    transition: 0.1s;
    margin: 6px 0px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #111;
}

.loginPage .loginForm #submit:hover {
    background-color: #fdc73d;
    transition: 0.1s;
}

.loginPage .loginForm .register {
    padding: 8px !important;
    font-size: 15px;
    background-color: #5f5f5f;
    transition: 0.1s;
    margin: 6px 0px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #111;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.loginPage .loginForm .register:hover {
    background-color: #4b4b4b;
    transition: 0.1s;
}

.loginPage .googleLoginBtn {
    display: flex; 
    background: white; 
    outline: none;
    border: 1px solid#d3d1d1;
    margin: 6px 0px;
    border-radius: 4px;
    padding: 6px;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.loginPage .googleLoginBtn:hover {
    background-color: #f8f7f76c;
    transition: 0.2s;
}

.loginPage .googleLoginBtn img {
    max-height: 26px;
    margin-left: 8px;
}

@media (max-width: 768px) {
    .loginPage .container {
        width: 60%;
    }
}

@media (max-width: 576px) {
 .loginPage .container {
     width: 90%;
     border: none;
 }

 .loginPage hr {
    color: rgba(76, 0, 255, 0.027);
 }
}

@media (min-width: 576px) {
    .loginPage hr {
        display: none;
    }
}