.subtotal {
    display: flex;
    padding: 15px;
    border-radius: 5px;
    background-color: #F3F3F3;
    border: 1px solid #dddddd;
    flex-direction: column;
}

.proceedToCheckout {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid rgba(17, 17, 17, 0.664);
    background-color: #F0C14B;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .subtotal {
        position: fixed !important;
        width: 29%;
    }
}